@page "/tipos-puntos"
@rendermode InteractiveServer
@using Cristian_TavarezAPI1_P2.Models
@using Cristian_TavarezAPI1_P2.Services
@inject AsignacionesService service

<PageTitle>Configuración de Tipos de Puntos</PageTitle>

<div class="container mt-4">
    <div class="card shadow-sm border-0">
        <div class="card-header bg-white py-3">
            <h2 class="mb-0 text-dark">Configuración de Tipos de Puntos</h2>
        </div>

        <div class="card-body">
           
            <div class="table-responsive shadow-sm rounded-3">
                <table class="table table-hover align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th style="width: 80px;" class="text-center">ID</th>
                            <th>Concepto</th>
                            <th>Valor Base</th>
                            <th class="text-center">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var tipo in listaTipos)
                        {
                            <tr>
                                <td class="fw-bold text-center">@tipo.TipoId</td>
                                <td>@tipo.Nombre</td>
                                <td>@tipo.ValorPuntos</td>
                                <td class="text-center">
                                    <span class="badge bg-success px-3 py-2">Activo</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {
    List<TiposPuntos> listaTipos = new();

    protected override async Task OnInitializedAsync()
    {
        await CargarTipos();
    }

    async Task CargarTipos()
    {
      
        listaTipos = await service.ListarTiposActivos();
    }
}